.profile__links {
  display: flex;
  font-size: 12px;
  line-height: 16px;
}

.profile__link:last-child {
  margin-right: 0;
}

.profile__link {
  margin-right: 18px;
  display: flex;
  align-items: center;
}

.profile__link-img {
  margin-right: 6px;
}
